/*--------------------------------------------------------------
## credit Courses, Lessons, Topics, Posts and Categories
--------------------------------------------------------------*/
.credit {
	color: #0178ac;
}
header.page-header {
    margin: 30px 0 !important;
}
/*--------------------------------------------------------------
## Courses
--------------------------------------------------------------*/
#learndash_enhanced_course_header.lds-has-background h2{
	width: 50%;
	float: left;
}
#learndash_enhanced_course_header.lds-has-background p.lds-enhanced-course-status {
	width: 50%;
	padding: 0;
}
input#btn-join.btn-join {
	background-color: #0178ac !important;
	color: #ffffff !important;
}
div#learndash_lessons > #lesson_heading span {
	color: #0178ac !important;
}
div#lds-shortcode .lds-course-item-icon i.fa,
div#lds-shortcode .course-item-icon a,
div#lds-shortcode .lds-entry-title a, #lesson_heading span,
div#learndash_lesson_topics_list div > strong, .learndash_profile_heading span,
.learndash_profile_heading, table.notes-listing th,
div#learndash_enhanced_course_header h2,
div#learndash_enhanced_course_header li {
	color: #7f588b !important;
	font-weight: 900;
	line-height: 1.5;
}
#learndash_profile .profile_info,
#lessons_list > div, #quiz_list > div,
#learndash_profile .course_progress,
#learndash_profile #course_list > div,
#learndash_lesson_topics_list ul > li {
	background: #0178ac !important;
	color: #ffffff !important;
}
div#lessons_list > div:nth-child(even) {
	opacity: .9;
}
#lds-shortcode .lds-expanded-course-lesson-list li a, #lessons_list h4 a, #quiz_list h4 a {
	color: #ffffff !important;
}
div#learndash_lessons,
div#learndash_quizzes,
div#learndash_profile,
div#learndash_enhanced_course_header {
	border: 1px solid rgba(40,137,124,.75) !important;
}
a.completed:before, .learndash_profile_quizzes .passed_icon:before, .learndash .completed:after, #learndash_profile .completed:after, .learndash .topic-completed span:after, .learndash_navigation_lesson_topics_list .list_arrow.collapse.lesson_completed:before, .learndash_nevigation_lesson_topics_list .list_arrow.collapse.lesson_completed:before, .learndash a.completed:after, #learndash_profile a.completed:after, #learndash_profile .list_arrow.collapse:before, #learndash_profile .list_arrow.expand:before, .learndash .topic-completed span:before, .learndash_profile_quizzes .passed_icon {
	color: rgba(0,0,0, .4) !important;
}
.learndash .notcompleted:after, #learndash_profile .notcompleted:after, #leardash_profile .topic-notcompleted span:before, .learndash .topic-notcompleted span:before, .learndash .notcompleted:before, #learndash_profile .notcompleted:before, #leardash_profile .topic-notcompleted span:before, .learndash .topic-notcompleted span:before, .learndash_navigation_lesson_topics_list .topic-notcompleted:before, .learndash_nevigation_lesson_topics_list .topic-notcompleted:before, .learndash_profile_quizzes .failed_icon, .learndash .topic-notcompleted span:after {
	color: rgba(255,255,255, .7) !important;
}
/*--------------------------------------------------------------
## Lessons
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Topics
--------------------------------------------------------------*/



/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
.entry-header {
	margin: 2em auto;
}

.tip {
	padding: 2.5em 5em;
	background-color: #f8f8f8;
	margin: 2em auto;
	border-left: 7px solid #0178ac;
}
.tip > span.credit {
	font-size: 20px;
}
.tip > span.credit:before  {
    display: inline-block;
    padding-right: 5px;
    vertical-align: bottom;
    font-family: "Dashicons";
    -webkit-font-smoothing: antialiased;
    color: #0178ac;
    content: "\f348";
}

/*--------------------------------------------------------------
## Video Gallery Pages
--------------------------------------------------------------*/

article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header {
	margin: 2em auto;
}
article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
	font-weight: 900;
	padding: .65em 0;
	margin: 0 auto;
	border: 1px solid #efefef;
	border-bottom: 5px solid #0178ac;
	background-image: url('images/camo-gray-light-200x200.jpg');
	background-repeat: repeat;
	text-transform: capitalize;
	color: #0178ac;
	font-size: 40px;
}
article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1:before {
	content: url('images/credit80x80.png');
	background-position: center;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	margin: -15px 15px;
	display: flex;
	float: left;
}

/*--------------------------------------------------------------
## Categories
--------------------------------------------------------------*/

.category-credit h1,
.category-credit h2,
.category-credit h2 a,
.category-credit h3,
.category-credit h4,
.category-credit h5,
#post-1905 h2 a {
    text-transform: capitalize;
    color: #0178ac;
}
.category-credit h1 {
	font-size: 42px;
}
.category-credit h1, .category-credit h2 a{
    font-weight: 900;
}
.category-credit h2 a:hover {
    opacity: .85;
    cursor: pointer;
}
h1 .entry-title, .category-credit h1{
    font-weight: 900;
    padding: .65em 0;
    margin: 0 auto;
    border: 1px solid #efefef;
    border-bottom: 5px solid #0178ac;
    background-image: url('images/camo-gray-light-200x200.jpg');
    background-repeat: repeat;
}

.category-credit h1:before {
	content: url('images/credit80x80.png');
	background-position: center;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	margin: -15px 15px;
	display: flex;
	float: left;
}

/*--------------------------------------------------------------
## WooCommerce Products
--------------------------------------------------------------*/

.related > h2 {
	color: #555555;
}
hr.related-products {
	border-top: 2px solid #555555;
}
/*--------------------------------------------------------------
## JetPack Related Content
--------------------------------------------------------------*/
div.sharedaddy h3 {
	color: #0178ac;
}
div.sharedaddy h3.sd-title:before {
	border-top: 1px solid #0178ac !important;
}
#main #sharing_email .sharing_send,
#main .sd-content ul li .option a.share-ustom,
#main .sd-content ul li a.sd-button,
#main .sd-content ul li.advanced a.share-more,
#main .sd-content ul li.preview-item div.option.option-smart-off a,
#main .sd-social-icon .sd-content ul li a.sd-button,
#main .sd-social-icon-text .sd-content ul li a.sd-button,
#main .sd-social-official .sd-content > ul > li .digg_button > a,
#main .sd-social-official .sd-content > ul > li > a.sd-button,
#main .sd-social-text .sd-content ul li a.sd-button {
	color: #fff !important;
        background: #0178ac;
        border: 1px solid #0178ac;

}
.jp-relatedposts-headline {
	color: #0178ac;
}

#jp-relatedposts h3.jp-relatedposts-headline em:before {
	border-top: 1px solid #0178ac !important;
}

/*--------------------------------------------------------------
## Sidebar Widgets
--------------------------------------------------------------*/

p.lds-progress-bar span, dd.course_progress div.course_progress_blue {
	background-color: #0178ac !important;
}
/*--------------------------------------------------------------
##  Media Queries - Desktop 1920px
--------------------------------------------------------------*/
@media screen and (max-width: 1920px){
	article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 60px;
	}
	article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		content: url('images/credit80x80.png');
		width: 80px;
		height: 80px;
		margin: -5px 15px;
	}
	
	h1 .entry-title, .category-credit h1{
		font-size: 60px;
	}
	h1 .entry-title:before, .category-credit h1:before {
		width: 80px;
		height: 80px;
		margin: -5px 15px;
	}
	.category-credit h2 a {
		font-size: 50px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Desktop 1600px
--------------------------------------------------------------*/
@media screen and (max-width: 1600px){
	article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 55px;
	}
	article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		content: url('images/credit70x70.png');
		width: 70px;
		height: 70px;
		margin: -10px 15px;
	}
		
	h1 .entry-title, .category-credit h1{
		font-size: 55px;
	}
	h1 .entry-title:before, .category-credit h1:before {
		content: url('images/credit70x70.png');
		width: 70px;
		height: 70px;
		margin: -10px 15px;
	}
	.category-credit h1 {
		font-size: 40px;
	}
	.category-credit h2, .category-credit h2 a{
		font-size: 30px;
	}
}

/*--------------------------------------------------------------
##  Media Queries - Desktop 1536px
--------------------------------------------------------------*/
@media screen and (max-width: 1536px){

	
}
/*--------------------------------------------------------------
##  Media Queries - Desktop 1400px
--------------------------------------------------------------*/
@media screen and (max-width: 1400px){

	
}
/*--------------------------------------------------------------
##  Media Queries - Desktop 1366px
--------------------------------------------------------------*/
@media screen and (max-width: 1366px){
	article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 36px;
	}
	article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		content: url('images/credit60x60.png');
		width: 60px;
		height: 60px;
		margin: -8px 15px;
	}
	
	h1 .entry-title, .category-credit h1{
		font-size: 36px;
	}
	h1 .entry-title:before, .category-credit h1:before {
		content: url('images/credit60x60.png');
		width: 60px;
		height: 60px;
		margin: -10px 15px;
	}
	.category-credit h1 {
		font-size: 36px;
	}
	.category-credit h2, .category-credit h2 a{
		font-size: 30px;
	}
}

/*--------------------------------------------------------------
##  Media Queries - Tablet 1280px
--------------------------------------------------------------*/
@media screen and (max-width: 1280px){
	article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 30px;
	}
	article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		content: url('images/credit50x50.png');
		width: 50px;
		height: 50px;
		margin: -10px 15px;
	}
    
	h1 .entry-title, .category-credit h1{
		font-size: 30px;
	}
	
	.category-credit header h1:before, .category-credit h1:before {
		content: url('images/credit50x50.png');
		width: 50px;
		height: 50px;
		margin: -10px 10px;
	}
	
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 1024px
--------------------------------------------------------------*/
@media screen and (max-width: 1024px){
    
	
	
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 966px
--------------------------------------------------------------*/
@media screen and (max-width: 966px){
	article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 28px;
	}
	article#post-1905.post-1905.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		content: url('images/credit60x60.png');
		width: 60px;
		height: 60px;
		margin: -10px 10px;
	}
	
	h1 .entry-title, .category-credit h1{
		font-size: 28px;
	}
	

	.category-credit header h1:before, .category-credit h1:before {
		content: url('images/credit60x60.png');
		width: 60px;
		height: 60px;
		margin: -10px 10px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 800x
--------------------------------------------------------------*/
@media screen and (max-width: 800px){
	.content-area {
		margin: 0 auto;
	}
	.category-credit h1 {
		font-size: 34px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 768x
--------------------------------------------------------------*/
@media screen and (max-width: 768px){
	.content-area {
		margin: 0 auto;
	}
	.category-credit h1 {
		font-size: 32px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 640x
--------------------------------------------------------------*/
@media screen and (max-width: 640px){
	
	.category-credit header h1:before, .category-credit h1:before {
		content: url('images/credit50x50.png');
		margin: -13px 10px;
		width: 50px;
		height: 50px;
	}
	.category-credit h1 {
		font-size: 24px;
	}
	.category-credit h2, .category-credit h2 a {
		font-size: 22px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 568px
--------------------------------------------------------------*/
@media screen and (max-width: 568px){

}

/*--------------------------------------------------------------
##  Media Queries - Tablet 533x
--------------------------------------------------------------*/
@media screen and (max-width: 533px){

}
/*--------------------------------------------------------------
##  Media Queries - Handheld Device 480px
--------------------------------------------------------------*/
@media screen and (max-width: 480px){
	.category-credit header h1:before, .category-credit h1:before {
		content: url('images/credit35x35.png');
		margin: -7px 10px;
		width: 35px;
		height: 35px;
	}
	.category-credit h1 {
		font-size: 16px;
	}
	.category-credit h2, .category-credit h2 a {
		font-size: 16px;
	}
}

/*--------------------------------------------------------------
##  Media Queries - Mobile 360px
--------------------------------------------------------------*/
@media screen and (max-width: 360px){
	.category-credit header h1:before, .category-credit h1:before {
		margin: -8px 10px;
	}
}

/*--------------------------------------------------------------
##  Media Queries - Tablet 320px
--------------------------------------------------------------*/
@media screen and (max-width: 320px){
	
}