/*--------------------------------------------------------------
## Infographics
--------------------------------------------------------------*/
.infographics {
	color: #004f6e;
}
header.page-header {
    margin: 30px 0 !important;
}
article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header {
	margin: 2em auto;
}
article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
	font-weight: 900;
	padding: .65em 0;
	margin: 0 auto;
	border: 1px solid #efefef;
	border-bottom: 5px solid #004f6e;
	background-image: url('images/camo-gray-light-200x200.jpg');
	background-repeat: repeat;
	text-transform: capitalize;
	color: #004f6e;
}
article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1:before {
	content: url('images/infographics80x80.png');
	background-position: center;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	margin: -15px 15px;
	display: flex;
	float: left;
}

div.infographics-credit > div.vc_column-inner > div.wpb_wrapper > div.credit-color,
div.infographics-budget > div.vc_column-inner > div.wpb_wrapper > div.budget-color,
div.infographics-uncategorized > div.vc_column-inner > div.wpb_wrapper > div.uncategorized-color,
div.infographics-military > div.vc_column-inner > div.wpb_wrapper > div.military-color,
div.infographics-debt > div.vc_column-inner > div.wpb_wrapper > div.debt-color,
div.infographics-savings > div.vc_column-inner > div.wpb_wrapper > div.savings-color,
div.infographics-protection > div.vc_column-inner > div.wpb_wrapper > div.protection-color,
div.infographics-investing > div.vc_column-inner > div.wpb_wrapper > div.investing-color,
div.infographics-major-purchases > div.vc_column-inner > div.wpb_wrapper > div.major-purchases-color,
div.infographics-retirement > div.vc_column-inner > div.wpb_wrapper > div.retirement-color,
div.infographics-paying-for-college > div.vc_column-inner > div.wpb_wrapper > div.paying-for-college-color{
    margin-bottom: 0px;
}

.infographics-credit h2,
.infographics-budget h2,
.infographics-savings h2,
.infographics-debit h2,
.infographics-protection h2,
.infographics-investing h2,
.infographics-major-purchases h2,
.infographics-military h2,
.infographics-retirement h2,
.infographics-uncategorized h2,
.infographics-student-loans h2 {
    font-weight: 900;
    padding: .65em 0;
    margin: 0;
    border: 1px solid #efefef;
    background-image: url('images/camo-gray-light-200x200.jpg');
    background-repeat: repeat;
}
div.infographics-credit > div.vc_column-inner > div.wpb_wrapper,
div.infographics-budget > div.vc_column-inner > div.wpb_wrapper,
div.infographics-military > div.vc_column-inner > div.wpb_wrapper,
div.infographics-uncategorized > div.vc_column-inner > div.wpb_wrapper {
    border: 1px solid #efefef;
}
.infographics-credit h2 {
    border-bottom: 5px solid #0178ac;
}
.infographics-budget h2 {
    border-bottom: 5px solid #28897c;
}
.infographics-uncategorized h2 {
    border-bottom: 5px solid #808080;
}
.infographics-debt h2 {
    border-bottom: 5px solid #903031;
}
.infographics-military h2 {
    border-bottom: 5px solid #004f6e;
}
.infographics-credit h2:before,
.infographics-budget h2:before,
.infographics-uncategorized:before {
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    float: left;
    
}
.infographics-credit h2:before {
    content: url('images/credit50x50.png');
}
.infographics-budget h2:before {
    content: url('images/budget50x50.png');
}
.infographics-military h2:before {
    content: url('images/military50x50.png');
}
.infographics-uncategorized h2:before {
	content: url('images/uncategorized50x50.png');
}
.infographics-debt h2:before {
    content: url('images/debt50x50.png');
}
.infographics-savings h2:before {
    content: url('images/savings50x50.png');
}
.infographics-protection h2:before {
    content: url('images/protection50x50.png');
}
.infographics-student-loands h2:before {
    content: url('images/paying-for-college50x50.png');
}
.infographics-investing h2:before {
    content: url('images/investing50x50.png');
}
.infographics-major-purchases h2:before {
    content: url('images/major-purchases50x50.png');
}
.infographics-retirementh2:before {
    content: url('images/retirement50x50.png');
}
/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/

input#btn-join.btn-join {
	background-color: #004f6e !important;
	color: #ffffff !important;
}

/*--------------------------------------------------------------
## Lessons
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Topics
--------------------------------------------------------------*/



/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
.content-area {
	margin: 7em auto 0;
}
.entry-header {
	margin: 2em auto;
}
/*--------------------------------------------------------------
## Categories
--------------------------------------------------------------*/

.category-infographics h1,
.category-infographics h2,
.category-infographics h2 a,
.category-infographics h3,
.category-infographics h4,
.category-infographics h5{
    text-transform: capitalize;
    color: #004f6e;
}
.category-infographics h1 {
	font-size: 40px;
}
.category-infographics h1, .category-infographics h2 a {
    font-weight: 900;
}
.category-infographics h2 a:hover {
    opacity: .85;
    cursor: pointer;
}
h1 .entry-title, .category-infographics h1{
	font-weight: 900;
	padding: .65em 0;
	margin: 0 auto;
	border: 1px  solid #efefef;
	border-bottom: 5px  solid #004f6e;
        background-image: url('images/camo-gray-light-200x200.jpg');
        background-repeat: repeat;
}

.category-infographics header h1:before, .category-infographics h1:before {
	content: url('images/infographics80x80.png');
	max-width: 80px;
	max-height: 80px;
	background-repeat: no-repeat;
	margin: -15px 15px;
	display: flex;
	float: left;
}

/*--------------------------------------------------------------
## JetPack Related Content
--------------------------------------------------------------*/
div.sharedaddy h3 {
	color: #004f6e;
}
div.sharedaddy h3.sd-title:before {
	border-top: 1px solid #004f6e !important;
}
#main #sharing_email .sharing_send,
#main .sd-content ul li .option a.share-ustom,
#main .sd-content ul li a.sd-button,
#main .sd-content ul li.advanced a.share-more,
#main .sd-content ul li.preview-item div.option.option-smart-off a,
#main .sd-social-icon .sd-content ul li a.sd-button,
#main .sd-social-icon-text .sd-content ul li a.sd-button,
#main .sd-social-official .sd-content > ul > li .digg_button > a,
#main .sd-social-official .sd-content > ul > li > a.sd-button,
#main .sd-social-text .sd-content ul li a.sd-button {
	color: #fff !important;
        background: #004f6e;
        border: 1px solid #004f6e;	

}
.jp-relatedposts-headline {
	color: #004f6e;
}

#jp-relatedposts h3.jp-relatedposts-headline em:before {
	border-top: 1px solid #004f6e !important;
}
/*--------------------------------------------------------------
##  Media Queries - Desktop 1920px
--------------------------------------------------------------*/
@media screen and (max-width: 1920px){
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 60px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		width: 80px;
		height: 80px;
		margin: -5px 15px;
	}
	h1 .entry-title, .category-infographics h1 { 
		font-size: 60px;
	}
	.category-infographics header h1:before, .category-infographics h1:before {
		width: 80px;
		height: 80px;
		margin: -5px 15px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 32px;		
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2:before,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div.wpb_wrapper h2.page-title:before,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2:before { 
		width: 50px;
		height: 50px;
		margin: -10px 10px;
	}

}
/*--------------------------------------------------------------
##  Media Queries - Desktop 1600px
--------------------------------------------------------------*/
@media screen and (max-width: 1600px){
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 54px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1:before {
		width: 60px;
		height: 60px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 30px;		
	}
	.category-infographics h2 a {
		font-size: 54px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Laptop 1529px
--------------------------------------------------------------*/
@media screen and (max-width: 1529px){
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 48px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1:before {
		width: 60px;
		height: 60px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 28px;		
	}
	.category-infographics h2 a {
		font-size: 28px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Laptop 1440px
--------------------------------------------------------------*/
@media screen and (max-width: 1440px){
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 50px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1:before {
		width: 50px;
		height: 50px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 26px;		
	}
	.category-infographics h2 a {
		font-size: 30px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Laptop 1366px
--------------------------------------------------------------*/
@media screen and (max-width: 1366px){
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 36px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		width: 60px;
		height: 60px;
		margin: -15px 15px;
	}
	h1 .entry-title, .category-infographics h1{
		font-size: 36px;
	}
	.category-infographics header h1:before, .category-infographics h1:before {
		width: 60px;
		height: 60px;
		margin: -8px 15px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 34px;		
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2:before,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2:before,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2:before {
		margin: -8px 15px;
	}
	.category-infographics h2 a {
		font-size: 30px;
	}
	.category-budget h3, .category-credit h3, .category-debt h3, .category-protection h3, .category-infographics h3, .category-major-purchases h3, .category-savings h3, .category-paying-for-college h3, .category-retirement h3, .category-military h2, .category-uncategorized h2, .category-infographics h3, .category-resources h3 {
		font-size: 22px;
	}
	
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 1280px
--------------------------------------------------------------*/
@media screen and (max-width: 1280px){
	.category-infographics header h1:before,
	.category-infographics h1:before {
		content: url('images/infographics50x50.png');
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 40px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1:before {
		background-position: center;
		max-width: 50px;
		max-height: 50px;
		margin: -15px 10px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 32px;		
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 1024px
--------------------------------------------------------------*/
@media screen and (max-width: 1024px){
	.category-infographics header h1:before,
	.category-infographics h1:before {
		content: url('images/infographics50x50.png');
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 40px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1:before {
		background-position: center;
		max-width: 50px;
		max-height: 50px;
		margin: -15px 10px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 32px;		
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 966px
--------------------------------------------------------------*/
@media screen and (max-width: 966px){
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 32px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1:before {
		background-position: center;
		max-width: 50px;
		max-height: 50px;
		margin: -15px 10px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 28px;		
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 800x
--------------------------------------------------------------*/
@media screen and (max-width: 800px){
    	/* Articles */
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 28px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1:before {
		background-position: center;
		max-width: 50px;
		max-height: 50px;
		margin: -15px 10px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 24px;		
	}
	
	/* Infographics */
	.content-area {
		margin: 0 auto;
	}
	/* Infographics */
	.infographics-credit h2, .infographics-budget h2 {
	    font-size: 24px;
	}
	.infographics-credit h2:before,
	.infographics-budget h2:before,
	.infographics-uncatefgorized h2:before {
		width: 40px;
		height: 40px;
		margin: -10px 5px;
	}
	.infographics-credit h2:before {
	    content: url('images/credit40x40.png');
	}
	.infographics-budget h2:before {
	    content: url('images/budget40x40.png');
	}
	.infographics-military h2:before {
	    content: url('images/military40x40.png');
	}
	.infographics-uncategorized h2:before {
	    content: url('images/uncategorized40x40.png');
	}
}
/*--------------------------------------------------------------
##  Media Queries - Handheld Device 667px
--------------------------------------------------------------*/
@media screen and (max-width: 667px){
	.infographics-credit h2, .infographics-budget h2 {
		font-size: 34px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 640x
--------------------------------------------------------------*/
@media screen and (max-width: 640px){
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 24px;
	}
	.category-infographics header h1:before, .category-infographics h1:before {
		content: url('images/infographics50x50.png');
		margin: -10px 10px;
		width: 50px;
		height: 50px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		margin: -10px 10px;
		width: 50px;
		height: 50px;
	}
	.category-infographics h1 {
		font-size: 24px;
	}
	.category-infographics h2, .category-infographics h2 a {
		font-size: 22px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2:before,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div.wpb_wrapper h2.page-title:before,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2:before { 
		margin: -15px 10px;
		width: 50px;
		height: 50px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2:before, article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div.wpb_wrapper h2.page-title:before {
		margin: -15px 10px;
		width: 50px;
		height: 50px;
	}
}

/*--------------------------------------------------------------
##  Media Queries - Tablet 568px
--------------------------------------------------------------*/
@media screen and (max-width: 568px){
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1:before {
		margin: -8px 10px;
		width: 50px;
		height: 50px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1{
		font-size: 64px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 22px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 533px
--------------------------------------------------------------*/
@media screen and (max-width: 533px){
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 40px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2:before, article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2:before {
		margin: -10px 10px;
		width: 50px;
		height: 50px;
	}
	.category-infographics header h1:before, .category-infographics h1:before {
		content: url('images/infographics35x35.png');
		margin: -10px 10px;
		width: 35px;
		height: 35px;
	}
	.category-infographics h1 {
		font-size: 24px;
	}
	.category-infographics h2, .category-infographics h2 a {
		font-size: 22px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Handheld Device 480px
--------------------------------------------------------------*/
@media screen and (max-width: 480px){
	
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 26px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		content: url('images/infographics35x35.png');
		margin: -5px 10px;
		width: 35px;
		height: 35px;
	}
	.category-infographics header h1:before, .category-infographics h1:before {
		content: url('images/infographics35x35.png');
		margin: -5px 10px;
		width: 35px;
		height: 35px;
	}
	.category-infographics h1 {
		font-size: 20px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2:before,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div.wpb_wrapper h2.page-title:before {
		width: 35px;
		height: 35px;
		margin: -8px 10px;
	}
	.infographics-credit h2:before {
		content: url('images/credit50x50.png');
	}
	.infographics-budget h2:before {
		content: url('images/budget50x50.png');
	}
	.infographics-uncategorized h2:before {
		content: url('images/uncategorized50x50.png');
	}
	
	.category-infographics h2, .category-infographics h2 a {
		font-size: 20px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Handheld Device 384px
--------------------------------------------------------------*/
@media screen and (max-width: 384px){
	/* Infographics Page*/
	.infographics-credit h2,
	.infographics-budget h2 {
		font-size: 26px;
	}
	/* Category Page */
	.category-infographics h2, .category-infographics h2 a {
		font-size: 18px;
	}
	
}

/*--------------------------------------------------------------
##  Media Queries - Mobile 360px
--------------------------------------------------------------*/
@media screen and (max-width: 360px){

}
/*--------------------------------------------------------------
##  Media Queries - Handheld Device 320px
--------------------------------------------------------------*/
@media screen and (max-width: 320px){
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/infographics35x35.png');
		width: 35px;
		height: 35px;
		margin: -8px 10px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 20px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2:before,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2:before {
		width: 35px;
		height: 35px;
		margin: -8px 10px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div h2.page-title,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-uncategorized div.vc_column-inner div.wpb_wrapper div.uncategorized-color div h2.page-title {
		font-size: 18px;
	}
	.category-infographics h1 {
		font-size: 16px;
	}
	.category-infographics h2, .category-infographics h2 a {
		font-size: 16px;
	}
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-credit div.vc_column-inner div.wpb_wrapper div.credit-color div h2:before,
	article#post-1860.post-1860.page.type-page.status-publish.hentry div.entry-content div div.infographics-budget div.vc_column-inner div.wpb_wrapper div.budget-color div.wpb_wrapper h2.page-title:before {
		width: 35px;
		height: 35px;
		margin: -8px 10px;
	}
	.infographics-credit h2:before {
	    content: url('images/credit35x35.png');
	}
	.infographics-budget h2:before {
	    content: url('images/budget35x35.png');
	}
	.infographics-military h2:before {
	    content: url('images/military35x35.png');
	}
	.infographics-uncategorized h2:before {
	    content: url('images/uncategorized35x35.png');
	}
	
}