/*--------------------------------------------------------------
## Page
--------------------------------------------------------------*/
.infographics {
	color: #004f6e;
}
header.page-header {
    margin: 30px 0 !important;
}
article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header {
	margin: 2em auto;
}
article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
	font-weight: 900;
	padding: .65em 0;
	margin: 0 auto;
	border: 1px solid #efefef;
	border-bottom: 5px solid #004f6e;
	background-image: url('images/camo-gray-light-200x200.jpg');
	background-repeat: repeat;
	text-transform: capitalize;
	color: #004f6e;
	font-weight: 900;
}
article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1:before {
	content: url('images/infographics80x80.png');
	background-position: center;
	max-width: 80px;
	max-height: 80px;
	background-repeat: no-repeat;
	margin: -15px 15px;
	display: flex;
	float: left;
}
/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/

input#btn-join.btn-join {
	background-color: #004f6e !important;
	color: #ffffff !important;
}

/*--------------------------------------------------------------
## Lessons
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Topics
--------------------------------------------------------------*/



/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Categories
--------------------------------------------------------------*/

.category-infographics h1,
.category-infographics h2,
.category-infographics h3,
.category-infographics h4,
.category-infographics h5{
	text-transform: uppercase;
	color: #004f6e;
}
.category-infographics h1 {
	font-size: 40px;
}
.category-infographics h1, .category-infographics h2 a {
	font-weight: 900;
	color: #004f6e;
}
.category-infographics h2 a:hover {
	opacity: .85;
	cursor: pointer;
}
h1 .entry-title, .category-infographics h1{
	font-weight: 900;
	padding: .65em 0;
	margin: 0 auto;
	border: 1px  solid #efefef;
	border-bottom: 5px  solid #004f6e;
        background-image: url('images/camo-gray-light-200x200.jpg');
        background-repeat: repeat;
	font-size: 40px;
}

.category-infographics header h1:before, .category-infographics h1:before {
	content: url('images/infographics80x80.png');
	background-position: center;
	max-width: 50px;
	max-height: 50px;
	background-repeat: no-repeat;
	margin: 0px 15px;
	display: flex;
	float: left;
}

/*--------------------------------------------------------------
## JetPack Related Content
--------------------------------------------------------------*/
div.sharedaddy h3 {
	color: #004f6e;
}
div.sharedaddy h3.sd-title:before {
	border-top: 1px solid #004f6e !important;
}
#main #sharing_email .sharing_send,
#main .sd-content ul li .option a.share-ustom,
#main .sd-content ul li a.sd-button,
#main .sd-content ul li.advanced a.share-more,
#main .sd-content ul li.preview-item div.option.option-smart-off a,
#main .sd-social-icon .sd-content ul li a.sd-button,
#main .sd-social-icon-text .sd-content ul li a.sd-button,
#main .sd-social-official .sd-content > ul > li .digg_button > a,
#main .sd-social-official .sd-content > ul > li > a.sd-button,
#main .sd-social-text .sd-content ul li a.sd-button {
	color: #fff !important;
        background: #004f6e;
        border: 1px solid #004f6e;	

}
.jp-relatedposts-headline {
	color: #004f6e;
}

#jp-relatedposts h3.jp-relatedposts-headline em:before {
	border-top: 1px solid #004f6e !important;
}

/*--------------------------------------------------------------
##  Media Queries - Laptop 1920px
--------------------------------------------------------------*/
@media screen and (max-width: 1920px){
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 60px;
	}
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/infographics80x80.png');
		width: 80px;
		height: 80px;
		margin: -5px 15px;
	}
	
	.worksheet-budget h2,
	.worksheet-savings h2,
	.worksheet-debt h2,
	.worksheet-credit h2 {
		font-size: 40px;
	}
	.worksheet-budget h2:before,
	.worksheet-savings h2:before,
	.worksheet-debt h2:before,
	.worksheet-credit h2:before {
		width: 60px;
		height: 60px;
		margin: -10px 15px;
	}
	.worksheet-budget p,
	.worksheet-savings p,
	.worksheet-debt p,
	.worksheet-credit p {
		padding: 15px;
		font-size: 28px;
		height: 125px;
		line-height: 1.2;
		font-weight: 300;
	}
	div.worksheet-budget div.vc_btn3-container,
	div.worksheet-savings div.vc_btn3-container,
	div.worksheet-debt div.vc_btn3-container,
	div.worksheet-credit div.vc_btn3-container {
		margin-bottom: 3em;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Desktop 1600px
--------------------------------------------------------------*/
@media screen and (max-width: 1600px){
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 40px;
	}
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/infographics70x70.png');
		max-width: 70px;
		max-height: 70px;
		margin: -15px 15px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Laptop 1529px
--------------------------------------------------------------*/
@media screen and (max-width: 1529px){

}
/*--------------------------------------------------------------
##  Media Queries - Laptop 1440px
--------------------------------------------------------------*/
@media screen and (max-width: 1440px){

}
/*--------------------------------------------------------------
##  Media Queries - Laptop 1366px
--------------------------------------------------------------*/
@media screen and (max-width: 1366px){
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 36px;
	}
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/infographics60x60.png');
		width: 60px;
		height: 60px;
		margin: -10px 15px;
	}
	.worksheet-budget h2,
	.worksheet-savings h2,
	.worksheet-debt h2,
	.worksheet-credit h2 {
		font-size: 30px;
	}
	.worksheet-budget h2:before,
	.worksheet-savings h2:before,
	.worksheet-debt h2:before,
	.worksheet-credit h2:before {
		width: 50px;
		height: 50px;
		margin: -10px 10px;
	}
	.worksheet-budget h2:before {
	    content: url('images/budget50x50.png');
	}
	.worksheet-debt h2:before {
	    content: url('images/debt50x50.png');
	}
	.worksheet-credit h2:before {
	    content: url('images/credit50x50.png');
	}
	.worksheet-savings h2:before {
	    content: url('images/savings50x50.png');
	}
	.worksheet-budget p,
	.worksheet-savings p,
	.worksheet-debt p,
	.worksheet-credit p {
		padding: 15px;
		font-size: 24px;
		height: 130px;
	}
	div.worksheet-budget div.vc_btn3-container,
	div.worksheet-savings div.vc_btn3-container,
	div.worksheet-debt div.vc_btn3-container,
	div.worksheet-credit div.vc_btn3-container {
		margin-bottom: 2.5em;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 1280px
--------------------------------------------------------------*/
@media screen and (max-width: 1280px){
    	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 30px;
	}
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1:before {
		background-position: center;
		max-width: 60px;
		max-height: 60px;
		margin: -15px 10px;
	}
	.worksheet-budget h2,
	.worksheet-savings h2,
	.worksheet-credit h2,
	.worksheet-debt h2 {
		font-size: 26px;
	}
	.worksheet-budget h2:before, .worksheet-savings h2:before,
	.worksheet-credit h2:before, .worksheet-debt h2:before,
	.credit-links h2:before, .military-links h2:before {
		width: 60px;
		height: 60px;
		margin-top: -15px;
	}
	.worksheet-budget p,
	.worksheet-savings p,
	.worksheet-credit p,
	.worksheet-debt p {
		font-size: 14px;
	}
}

/*--------------------------------------------------------------
##  Media Queries - Tablet 1024px
--------------------------------------------------------------*/
@media screen and (max-width: 1024px){
	.worksheet-budget h2,
	.worksheet-savings h2,
	.worksheet-credit h2,
	.worksheet-debt h2 {
	    font-size: 20px;
	}
	.worksheet-budget h2:before,
	.worksheet-savings h2:before,
	.worksheet-credit h2:before,
	.worksheet-debt h2:before,
	.credit-links h2:before,
	.military-links h2:before {
	    width: 45px;
	    height: 45px;
	    margin-top: -10px;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.worksheet-budget p,
	.worksheet-savings p,
	.worksheet-credit p,
	.worksheet-debt p {
	    padding: 15px;
	    font-size: 17px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 966px
--------------------------------------------------------------*/
@media screen and (max-width: 966px){    	
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 28px;
	}
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		content: url('images/infographics50x50.png');
		margin: -10px 10px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 800x
--------------------------------------------------------------*/
@media screen and (max-width: 800px){
	.content-area {
		margin: 0 auto;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 640x
--------------------------------------------------------------*/
@media screen and (max-width: 640px){
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {
		
		margin: -8px 10px;
		width: 45px;
		height: 45px;
	}
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 24px;
	}
	.worksheet-budget h2,
	.worksheet-savings h2,
	.worksheet-credit h2,
	.worksheet-debt h2 {
		font-size: 18px;
	}
	.worksheet-budget h2:before,
	.worksheet-savings h2:before,
	.worksheet-credit h2:before,
	.worksheet-debt h2:before,
	.credit-links h2:before,
	.military-links h2:before {
		width: 45px;
		height: 45px;
		margin-left: 5px;
		margin-right: 5px;
	}
	.worksheet-budget p,
	.worksheet-savings p,
	.worksheet-credit p,
	.worksheet-debt p {
		padding: 15px;
		font-size: 18px;
		line-height: 1.25;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 768px
--------------------------------------------------------------*/
@media screen and (max-width: 768px){
	.worksheet-budget h2,
	.worksheet-savings h2,
	.worksheet-credit h2,
	.worksheet-debt h2 {
	    font-size: 16px;
	}
	.worksheet-budget h2:before,
	.worksheet-savings h2:before,
	.worksheet-credit h2:before,
	.worksheet-debt h2:before,
	.credit-links h2:before,
	.military-links h2:before {
	    width: 40px;
	    height: 40px;
	    margin-left: 5px;
	    margin-right: 5px;
	}
	div#subscribe-email input {
		width: 50%;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Handheld Device 667px
--------------------------------------------------------------*/
@media screen and (max-width: 667px){
	/* PDF Forms Library */
	.worksheet-budget h2,
	.worksheet-savings h2,
	.worksheet-credit h2 ,
	.worksheet-debt h2 {
	    font-size: 34px;
	}
	.worksheet-budget h2:before,
	.worksheet-savings h2:before,
	.worksheet-credit h2:before,
	.worksheet-debt h2:before,
	.credit-links h2:before,
	.military-links h2:before {
	    width: 65px;
	    height: 65px;
	    margin: -10px 15px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Handheld Device 568px
--------------------------------------------------------------*/
@media screen and (max-width: 568px){
	
	h1.entry-title {
	    margin-bottom: 1em;
	}
	.worksheet-budget h2,
	.worksheet-savings h2,
	.worksheet-credit h2,
	.worksheet-debt h2 {
	    font-size: 22px;
	}
	.worksheet-budget h2:before {
	    content: url('images/budget50x50.png');
	}
	.worksheet-debt h2:before {
	    content: url('images/debt50x50.png');
	}
	.worksheet-credit h2:before {
	    content: url('images/credit50x50.png');
	}
	.worksheet-savings h2:before {
	    content: url('images/savings50x50.png');
	}
	.worksheet-budget h2:before,
	.worksheet-savings h2:before,
	.worksheet-credit h2:before,
	.worksheet-debt h2:before,
	.credit-links h2:before,
	.military-links h2:before {
	    width: 50px;
	    height: 50px;
	    margin: -15px 5px;
	}
	div.worksheet-budget div.vc_column-inner div.wpb_wrapper div.vc_btn3-container.vc_btn3-center,
	div.worksheet-debt div.vc_column-inner div.wpb_wrapper div.vc_btn3-container.vc_btn3-center,
	div.worksheet-credit div.vc_column-inner div.wpb_wrapper div.vc_btn3-container.vc_btn3-center,
	div.worksheet-savings div.vc_column-inner div.wpb_wrapper div.vc_btn3-container.vc_btn3-center {
	    margin-bottom: 3em;
	}
}

/*--------------------------------------------------------------
##  Media Queries - Tablet 533x
--------------------------------------------------------------*/
@media screen and (max-width: 533px){
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {	
		margin: -8px 10px;
		width: 50px;
		height: 50px;
	}
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 28px;
	}

}

/*--------------------------------------------------------------
##  Media Queries - Tablet 480px
--------------------------------------------------------------*/
@media screen and (max-width: 480px){
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 26px;
	}
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {	
		margin: -10px 10px;
		width: 40px;
		height: 40px;
	}
	.worksheet-budget h2,
	.worksheet-savings h2,
	.worksheet-credit h2 ,
	.worksheet-debt h2 {
	    font-size: 22px;
	}
	.worksheet-budget h2:before {
	    content: url('images/budget35x35.png');
	}
	.worksheet-debt h2:before {
	    content: url('images/debt35x35.png');
	}
	.worksheet-credit h2:before {
	    content: url('images/credit35x35.png');
	}
	.worksheet-savings h2:before {
	    content: url('images/savings35x35.png');
	}
	.worksheet-budget h2:before, .worksheet-savings h2:before, .worksheet-credit h2:before, .worksheet-debt h2:before, .credit-links h2:before, .military-links h2:before {
	    width: 35px;
	    height: 35px;
	    margin: -8px 10px;
	}
	.worksheet-budget p, .worksheet-savings p, .worksheet-credit p, .worksheet-debt p {	
		font-size: 16px;
	}
}

/*--------------------------------------------------------------
##  Media Queries - Tablet 320px
--------------------------------------------------------------*/
@media screen and (max-width: 320px){
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title:before {	
		content: url('images/resources35x35.png');
		width: 40px;
		height: 40px;
		margin: -10px 10px;
	}
	article#post-624.post-624.page.type-page.status-publish.hentry header.entry-header h1.entry-title {
		font-size: 20px;
	}
	.worksheet-budget h2,
	.worksheet-savings h2,
	.worksheet-credit h2 ,
	.worksheet-debt h2 {
	    font-size: 18px;
	}
	.worksheet-budget h2:before {
	    content: url('images/budget35x35.png');
	}
	.worksheet-debt h2:before {
	    content: url('images/debt35x35.png');
	}
	.worksheet-credit h2:before {
	    content: url('images/credit35x35.png');
	}
	.worksheet-savings h2:before {
	    content: url('images/savings35x35.png');
	}
	.worksheet-budget h2:before, .worksheet-savings h2:before, .worksheet-credit h2:before, .worksheet-debt h2:before, .credit-links h2:before, .military-links h2:before {
	    width: 35px;
	    height: 35px;
	    margin: -8px 10px;
	}
}

