/*--------------------------------------------------------------
## Resource Library i.e. Helpful Links
--------------------------------------------------------------*/
.resources {
	color: #004f6e;
}
article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header {
	margin: 2em auto;
}
article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1 {
	font-weight: 900;
	padding: .65em 0;
	margin: 0 auto;
	border: 1px solid #efefef;
	border-bottom: 5px solid #004f6e;
	background-image: url('images/camo-gray-light-200x200.jpg');
	background-repeat: repeat;
	text-transform: capitalize;
	color: #004f6e;
}
article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1:before {
	content: url('images/resources80x80.png');
	background-position: center;
	max-width: 80px;
	max-height: 80px;
	background-repeat: no-repeat;
	display: flex;
	float: left;
}

/* Credit Links */
div.credit-links > div.vc_column-inner > div.wpb_wrapper {
    border: 1px solid #efefef;
}
div.credit-links > div.vc_column-inner > div.wpb_wrapper > div.savings-color {
    margin-bottom: 15px;
}
.credit-links h2 {
    font-weight: 900;
    padding: .65em 0;
    margin: 0;
    border: 1px solid #efefef;
    border-bottom: 5px solid #0178ac;
    background-image: url('images/camo-gray-light-200x200.jpg');
    background-repeat: repeat;
}
.credit-links h2::before {
    content: url('images/credit80x80.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    float: left;
}
/* Military Links */
div.military-links > div.vc_column-inner > div.wpb_wrapper {
    border: 1px solid #efefef;
}
div.military-links > div.vc_column-inner > div.wpb_wrapper > div.savings-color {
    margin-bottom: 15px;
}
.military-links h2 {
    font-weight: 900;
    padding: .65em 0;
    margin: 0;
    border: 1px solid #efefef;
    border-bottom: 5px solid #808080;
    background-image: url('images/camo-gray-light-200x200.jpg');
    background-repeat: repeat;
}
.military-links h2::before {
    content: url('images/uncategorized80x80.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    float: left;
}
div.credit-links div.vc_column-inner div.wpb_wrapper div.wpb_raw_code.wpb_content_element.wpb_raw_html.credit-color,
div.military-links div.vc_column-inner div.wpb_wrapper div.wpb_raw_code.wpb_content_element.wpb_raw_html.resources-color,
div.military-links div.vc_column-inner div.wpb_wrapper div.wpb_raw_code.wpb_content_element.wpb_raw_html.uncategorized-color,
div.military-links div.vc_column-inner div.wpb_wrapper div.wpb_raw_code.wpb_content_element.wpb_raw_html.military-color{
    margin-bottom: 0;
}

/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/

input#btn-join.btn-join {
	background-color: #004f6e !important;
	color: #ffffff !important;
}
/*--------------------------------------------------------------
## Lessons
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Topics
--------------------------------------------------------------*/



/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
header.page-header {
    margin: 30px 0 !important;
}
.tip {
    padding: 2.5em 5em;
    background-color: #f8f8f8;
    margin: 2em auto;
}
.tip > span.resources {
	font-size: 20px;
}
.tip > span.resources:before  {
    display: inline-block;
    padding-right: 5px;
    vertical-align: bottom;
    font-family: "Dashicons";
    -webkit-font-smoothing: antialiased;
    color: #004f6e;
    content: "\f348";
}

/*--------------------------------------------------------------
## Categories
--------------------------------------------------------------*/

.category-resources h1,
.category-resources h2,
.category-resources h2 a,
.category-resources h3,
.category-resources h4,
.category-resources h5 {
    text-transform: capitalize;
    color: #004f6e;
}
.category-resources h1 {
	font-size: 42px;
}
.category-resources h1, .category-resources h2 a {
    font-weight: 900;
}
.category-resources h2 a:hover {
    opacity: .85;
    cursor: pointer;
}
h1 .entry-title, .category-resources h1{
	font-weight: 900;
	padding: .65em 0;
	margin: 0 auto;
	border: 1px  solid #efefef;
	border-bottom: 5px  solid #004f6e;
        background-image: url('images/camo-gray-light-200x200.jpg');
        background-repeat: repeat;
}

.category-resources header h1::before, .category-resources h1:before {
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	float: left;
}
/*--------------------------------------------------------------
## WooCommerce Products
--------------------------------------------------------------*/

.related > h2 {
	color: #555555;
}
hr.related-products {
	border-top: 2px solid #555555;
}
/*--------------------------------------------------------------
## JetPack Related Content
--------------------------------------------------------------*/
div.sharedaddy h3 {
	color: #004f6e;
}
div.sharedaddy h3.sd-title::before {
	border-top: 1px solid #004f6e !important;
}
#main #sharing_email .sharing_send,
#main .sd-content ul li .option a.share-ustom,
#main .sd-content ul li a.sd-button,
#main .sd-content ul li.advanced a.share-more,
#main .sd-content ul li.preview-item div.option.option-smart-off a,
#main .sd-social-icon .sd-content ul li a.sd-button,
#main .sd-social-icon-text .sd-content ul li a.sd-button,
#main .sd-social-official .sd-content > ul > li .digg_button > a,
#main .sd-social-official .sd-content > ul > li > a.sd-button,
#main .sd-social-text .sd-content ul li a.sd-button {
	color: #fff !important;
        background: #004f6e;
        border: 1px solid #004f6e;

}
.jp-relatedposts-headline {
	color: #004f6e;
}

#jp-relatedposts h3.jp-relatedposts-headline em::before {
	border-top: 1px solid #004f6e !important;
}
/*--------------------------------------------------------------
## Sidebar Widgets
--------------------------------------------------------------*/

p.lds-progress-bar span, dd.course_progress div.course_progress_blue {
	background-color: #004f6e !important;
}
/*--------------------------------------------------------------
##  Media Queries - Desktop 1920px
--------------------------------------------------------------*/
@media screen and (max-width: 1920px){

	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 60px;
	}
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/resources80x80.png');
		max-width: 80px;
		max-height: 80px;
		margin: -5px 15px;
	}
	h1 .entry-title, .category-resources h1{
		font-size: 60px;
	}
	.category-resources header h1::before, .category-resources h1::before {
		content: url('images/resources80x80.png');
		max-width: 80px;
		max-height: 80px;
		margin: -5px 15px;
	}
	.category-resources h2 a{
		font-size: 50px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Desktop 1600px
--------------------------------------------------------------*/
@media screen and (max-width: 1600px){
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 40px;
	}
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/resources70x70.png');
		max-width: 70px;
		max-height: 70px;
		margin: -15px 15px;
	}
	.category-resources header h1, .category-resources h1 {
		font-size: 40px;
	}
	.category-resources header h1::before, .category-resources h1::before {
		content: url('images/resources70x70.png');
		max-width: 70px;
		max-height: 70px;
		margin: -15px 15px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Laptop 1529px
--------------------------------------------------------------*/
@media screen and (max-width: 1529px){

}
/*--------------------------------------------------------------
##  Media Queries - Laptop 1440px
--------------------------------------------------------------*/
@media screen and (max-width: 1440px){

}

/*--------------------------------------------------------------
##  Media Queries - Tablet 1366px
--------------------------------------------------------------*/
@media screen and (max-width: 1366px) {
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 36px;
	}
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/resources60x60.png');
		max-width: 60px;
		max-height: 60px;
		margin: -10px 15px;
	}
	h1 .entry-title, .category-resources h1{
		font-size: 40px;
	}	
	.category-resources header h1::before, .category-resources h1::before {
		content: url('images/resources60x60.png');
		margin: -10px 15px;
	}
	.category-resources h2 a{
		font-size: 30px;
	}
	.credit-links h2,
	.military-links h2 {
		font-size: 34px;
	}
	.credit-links h2::before, .military-links h2::before {
		width: 50px;
		height: 50px;
		margin: -10px 10px;
	}
	.credit-links h2::before {
		content: url('images/credit50x50.png');		
	}
	.military-links h2::before {
		content: url('images/uncategorized50x50.png');		
	}
	.category-resources h2 a{
		font-size: 30px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 1280px
--------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 40px;
	}
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1::before {
		content: url('images/resources50x50.png');
		max-width: 50px;
		max-height: 50px;
		margin: -5px 10px;
	}
	.credit-links h2::before,
	.military-links h2::before {
		width: 50px;
		height: 50px;
		margin: -15px 15px;
	}
	.category-resources header h1::before, .category-resources h1::before {
		content: url('images/resources50x50.png');
		margin: -10px 10px;
	}
	.credit-links h2::before  {
		content: url('images/credit50x50.png');
	}
	.military-links h2::before {
		content: url('images/uncategorized50x50.png');		
	}
	.credit-links h2, .military-links h2 {
	    font-size: 26px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 1024px
--------------------------------------------------------------*/
@media screen and (max-width: 1024px){
    
    	/* Articles */
	
	/* Resource LIbrary */
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 30px;
	}
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1::before {
		max-width: 50px;
		max-height: 50px;
		margin: -10px 10px;
	}
	.credit-links h2, .military-links h2 {
	    font-size: 30px;
	}
}

/*--------------------------------------------------------------
##  Media Queries - Tablet 966px
--------------------------------------------------------------*/
@media screen and (max-width: 966px){
    
    	/* Resource Library */
	.category-resources h1 {
		font-size: 28px;
	}
	.category-resources header h1::before, .category-resources h1::before {
		content: url('images/resources50x50.png');
		margin: -10px 10px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 800x
--------------------------------------------------------------*/
@media screen and (max-width: 800px){
    	/* Articles */
	
	/* Infographics */
	.content-area {
		margin: 0 auto;
	}
	/* Resource Library */
	.credit-links h2,
	.military-links h2 {
		font-size: 28px;
	}
	.credit-links h2::before,
	.military-links h2::before {
		width: 50px;
		height: 50px;
		margin: -10px 15px;
	}
	.credit-links h2::before  {
		content: url('images/credit50x50.png');
	}
	.military-links h2::before {
		content: url('images/uncategorized50x50.png');		
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 640x
--------------------------------------------------------------*/
@media screen and (max-width: 640px){
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/resources50x50.png');
		margin: -10px 15px;
		width: 50px;
		height: 50px;
	}
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 24px;
	}
	.credit-links h2::before, .military-links h2::before {
		width: 50px;
		height: 50px;
		margin: -15px 15px;
	}
	.credit-links h2::before  {
		content: url('images/credit50x50.png');
	}
	.military-links h2::before {
		content: url('images/uncategorized50x50.png');		
	}
	.credit-links h2, .military-links h2 {
		font-size: 24px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 568px
--------------------------------------------------------------*/
@media screen and (max-width: 568px){
	.credit-links h2::before {
	    content: url('images/credit50x50.png');
	}
	.military-links h2::before {
	    content: url('images/uncategorized50x50.png');
	}
	.credit-links h2,
	.military-links h2 {
	    font-size: 22px;
	}
	.credit-links h2:before,
	.military-links h2:before {
	    width: 50px;
	    height: 50px;
	    margin: -15px 5px;
	}
	.resource-image figure div img {
		height: 150px;
	}
}

/*--------------------------------------------------------------
##  Media Queries - Tablet 533px
--------------------------------------------------------------*/
@media screen and (max-width: 533px){
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/resources50x50.png');
		margin: -8px 10px;
		width: 50px;
		height: 50px;
	}
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1 {
		font-size: 28px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Handheld Device 480px
--------------------------------------------------------------*/
@media screen and (max-width: 480px){
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1{
		font-size: 26px;
	}
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/resources35x35.png');
		margin: -5px 10px;
		width: 35px;
		height: 35px;
	}
	.category-resources header h1::before, .category-resources h1::before {
		content: url('images/resources35x35.png');
		margin: -5px 10px;
		width: 35px;
		height: 35px;
	}
	.category-resources h1 {
		font-size: 20px;
	}
	.category-resources h2 , .category-resources h2 a {
		font-size: 20px;
	}
}
/*--------------------------------------------------------------
##  Media Queries - Tablet 320px
--------------------------------------------------------------*/
@media screen and (max-width: 320px){
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1:before {
		content: url('images/resources35x35.png');
		width: 35px;
		height: 35px;
		margin: -8px 10px;
	}
	article#post-1794.post-1794.page.type-page.status-publish.hentry header.entry-header h1{
		font-size: 20px;
	}
	.category-resources header h1::before, .category-resources h1::before {
		content: url('images/resources35x35.png');
		width: 35px;
		height: 35px;
		margin: -8px 10px;
	}
	.category-resources h1 {
		font-size: 16px;
	}
	.credit-links h2::before {
	    content: url('images/credit35x35.png');
	    margin: -8px 10px;
	}
	.military-links h2::before {
	    content: url('images/uncategorized35x35.png');
	    margin: -8px 10px;
	}
	.credit-links h2,
	.military-links h2 {
	    font-size: 20px;
	}
	.credit-links h2:before,
	.military-links h2:before {
	    width: 35px;
	    height: 35px;
	    margin: -5px 5px;
	}
	.category-resources h2, .category-resources h2 a  {
		font-size: 16px;
	}
}